<!-- this page uses FarmController as fc  -->
<nav ng-include="'/views/templates/navbar.html'"></nav>
<div class="content-div container">
  <div class="headingDiv">
    <h1>Farm Profile</h1>
  </div>

  <div class="col-xs-2 col-xs-offset-5" ng-show="!fc.editableForm.$visible">
    <!-- button to show form -->
    <button type="button" class="btn btn-default btn-primary btn-inventory-toggle" ng-click="fc.editableForm.$show()" >
      Edit
    </button>
  </div>
  <div class="col-xs-2 col-xs-offset-5" ng-show="fc.editableForm.$visible">
    <span ng-show="fc.editableForm.$visible">
      <button type="submit" class="btn btn-primary col-xs-6" ng-disabled="fc.editableForm.$waiting" ng-click="fc.editableForm.$save()">
        Save
      </button>
      <button type="button" class="btn btn-default col-xs-6" ng-disabled="fc.editableForm.$waiting" ng-click="fc.editableForm.$cancel()">
        Cancel
      </button>
    </span>
  </div>
  <div id="farm-content">
    <div id="farmpage" class="col-xs-4">
      <form editable-form name="fc.editableForm" onaftersave="fc.saveFarm()">

        <div class="wrap">
          <div class="left_col">
            <div>
              <span class="title"><b>Farm name:</b></span>
              <span editable-text="fc.farm.farm_name" e-name="name" e-required>{{ fc.farm.farm_name || 'empty' }}</span>
            </div>
            <div>
              <span class="title"><b>Address:</b></span>
              <span editable-text="fc.farm.farm_address" e-name="address" e-required>{{ fc.farm.farm_address || 'empty' }}</span>
            </div>
            <div>
              <span class="title"><b>City:</b></span>
              <span editable-text="fc.farm.farm_city" e-name="city" e-required>{{ fc.farm.farm_city || 'empty' }}</span>
            </div>
            <div>
              <span class="title"><b>State:</b></span>
              <span editable-select="fc.farm.farm_state" e-name="state" e-ng-options="state for state in fc.states">
                {{ fc.farm.farm_state }}</span>
              <span class="title"><b>ZIP:</b></span>
              <span editable-text="fc.farm.farm_zip" e-name="zip" e-required>{{ fc.farm.farm_zip || 'empty' }}</span>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-4">
        <img src="/views/images/farm.png" class="farmIcon">
    </div>
  </div>
</div>
