<div class="logoDiv">
    <img src="/views/images/stmLogo1.jpg" class="logo"/>
</div>
<div class="container col-sm-4 col-md-4 col-lg-4 col-sm-offset-4" id="login">
  <h1 class="lead">Login</h1>
    <h2 class="lead alert" role="alert" ng-if="message != ''">{{lc.message}}</h2>
    <form ng-submit="lc.login()">
      <div>
          <label for="email">E-mail:</label>
          <input type="text" ng-model="lc.user.email" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />
          <a href="#register">Register</a>
      </div>
    </form>
</div>
