<div id="registerbackground" class="container">
  <div id="register">
    <!-- <h1 class="lead">Seed to Market</h1> -->
    <img src="/assets/images/seedtomarket.png" style="width:320px;height:200px;">
  <h2 class="lead alert" role="alert" ng-if="message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <h1 class="lead">Register User</h1>
    <div>
        <label for="email">E-mail</label><br>
        <input type="text" ng-model="lc.user.email" />
    </div>
    <div>
        <label for="name">Name</label><br>
        <input type="text" ng-model="lc.user.user_name" />
    </div>
    <div>
        <label for="phone">Phone</label><br>
        <input type="text" ng-model="lc.user.phone_number" />
    </div>
    <div>
        <label for="password">Password</label><br>
        <input type="password" ng-model="lc.user.password" />
    </div>
    <!-- <label>Create a farm:
      <input ng-model ="newfarm" type="checkbox">
    </label><br> -->
    <!-- <label>Join a farm:
      <input ng-model ="useFarm" type="checkbox" ng-change="lc.useFarm()">
    </label><br> -->
    <input class="btn btn-default" type="submit" name="submit" value="Register" />
    <a href="#home">Cancel</a>
  </form>
 </div>
</div>
