<!-- ReportsController as rc -->
<nav ng-include="'/views/templates/navbar.html'"></nav>
<div class="headingDiv">
  <h1>Reports</h1>
</div>
<div class="container content-div">
  <div class="col-xs-12 reports-tables">
    <form>
        <div class="form-group">
          <div class="col-xs-2" style="padding-left: 0px; padding-right: 10px;">
            <button type="button" class="btn btn-primary" ng-click="pc.openDownload()" style="width: 100%; padding-left: 0px; padding-right: 0px">Download CSV File</button>
          </div>
          <div class="input-group col-xs-10">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchReports">
          </div>
        </div>
      </form>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <td>
            <a  ng-click="sortType = 'crop'; sortReverse = !sortReverse">
              Crop
              <span ng-show="sortType == 'crop' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'crop' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'variety'; sortReverse = !sortReverse">
              Variety
              <span ng-show="sortType == 'variety' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'variety' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'location'; sortReverse = !sortReverse">
              Field
              <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'date_harvested'; sortReverse = !sortReverse">
              Harvest Date
              <span ng-show="sortType == 'date_harvested' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'date_harvested' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'area_sqft'; sortReverse = !sortReverse">
              Area Planted (sq ft)
              <span ng-show="sortType == 'area_sqft' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'area_sqft' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'yield'; sortReverse = !sortReverse">
              Harvest Weight (lbs)
              <span ng-show="sortType == 'yield' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'yield' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'weight_sold'; sortReverse = !sortReverse">
              Sold Weight (lbs)
              <span ng-show="sortType == 'weight_sold' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'weight_sold' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'sold_to'; sortReverse = !sortReverse">
              Buyer
              <span ng-show="sortType == 'sold_to' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'sold_to' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="report in rc.reports.list | orderBy:sortType:sortReverse | filter:searchReports">
          <td>{{ report.crop }}</td>
          <td>{{ report.variety }}</td>
          <td>{{ report.location }}</td>
          <td>{{ report.date_harvested | date:'MM-dd-yyyy'}}</td>
          <td>{{ report.area_sqft }}</td>
          <td>{{ report.yield }}</td>
          <td>{{ report.weight_sold }}</td>
          <td>{{ report.sold_to }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
